{% extends 'base.html' %}

{% block content %}
    <a href="#" class="btn btn-primary">Edit</a>
    <a href="#" class="btn btn-success save-button">Save changes</a>

    <main id="tournament" class="container">
        {% for round in bracket_items_left %}
            <ul class="round p-3">
                <li class="spacer"></li>
                {% for match_up in round %}
                    {% include "matchup.html" with match_up=match_up %}
                    <li class="spacer"></li>
                {% endfor %}
            </ul>
        {% endfor %}

        <ul class="round p-5">
             {% include "matchup.html" with match_up=final_bracket_item %}
        </ul>

        {% for round in bracket_items_right %}
            <ul class="round p-3">
                <li class="spacer"></li>
                {% for match_up in round %}
                    {% include "matchup.html" with match_up=match_up %}
                    <li class="spacer"></li>
                {% endfor %}
            </ul>
        {% endfor %}

    </main>


{% endblock %}
