{{ define "card" }}
<div class="card" style="width: 120px;">
    <ul class="list-group list-group-flush">


        <li class="list-group-item p-0">
            {{ if and .UserID (.Finished) }}
            {{ if eq .Points .MaxPoints }}
            <span class="badge badge-pill badge-success">{{ .Points }}</span>
            {{ else if eq .Points 0}}
                <span class="badge badge-pill badge-danger">{{ .Points }}</span>
            {{ else }}
                <span class="badge badge-pill badge-info">{{ .Points }}</span>
            {{ end }}
            {{ end }}

           {{ if .Home.Logo }}
            <img {{ if (ne .ScoreHome 4) }} style="opacity: 0.30;" {{ end }} src="/static/img/{{.Home.Logo}}"/>
        {{ else }}
            <div class="text-center bold">TBD</div>
        {{ end }}
        </li>
        <li class="list-group-item p-1 text-center">
            <span {{ if eq .ScoreHome 4 }} class="bold" {{ end }}>
                {{ .Home.Short}} {{ .ScoreHome }}
            </span>
            -
            <span {{ if eq .ScoreAway 4 }} class="bold" {{ end }}>
                {{ .Away.Short }} {{ .ScoreAway }}
            </span>

        </li>
        <li class="list-group-item p-0">
        {{ if .Away.Logo }}
            <img {{ if (ne .ScoreAway 4)}}
            style="opacity: 0.30;" {{ end }} src="/static/img/{{.Away.Logo}}"/>
        {{ else }}
            <div class="text-center bold">TBD</div>
        {{ end }}
        </li>
    </ul>
</div>
{{ end }}