{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h1>Users of {{ group.name }}</h1>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Points</th>
                    <th scope="col">Champion Prediction</th>
                </tr>
                </thead>

                <tbody>
                    {% for user in users %}
                        <tr>
                            <td>
                                <a href="/bracket/{{ user.id }}"> {{ user.username }} </a>
                            </td>
                            <td>
                                {{ user.points }}
                            </td>
                            <td>
                                {% if user.finals_match_up %}
                                    <span class="font-weight-bold">{{ user.finals_match_up.winner.name }}</span>
                                    <span class="font-italic">(vs {{ user.finals_match_up.loser.name }} in {{ user.finals_match_up.games }} games)</span>
                                {% else %}
                                    TBD
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
    </div>
{% endblock %}
