{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h1>Help</h1>

        <h3>Leaderboard</h3>
        <p>
            In each round, you will get points if you pick the correct series winner. <br/>
            When the number of games is correct as well, bonus points will be awarded. <br/>
            Points will be given according to following table:
        </p>
        <table class="table table-dark" border="1px solid black">
            <th>
            </th>
            <th>
                Points
            </th>
            <th>
                Bonus
            </th>
            <tr>
                <td>Round 1</td>
                <td>10</td>
                <td>5</td>
            </tr>
            <tr>
                <td>Round 2</td>
                <td>20</td>
                <td>10</td>
            </tr>
            <tr>
                <td>Conference Finals</td>
                <td>40</td>
                <td>20</td>
            </tr>
            <tr>
                <td>Finals</td>
                <td>80</td>
                <td>40</td>
            </tr>
        </table>
    </div>
{% endblock %}
