{% load static %}

{% with match_up.match_up as game %}
    <div class="card"
         style="width: 150px; {% if not edit_mode and not game.home_team and not game.away_team %}opacity: 0.6{% endif %}">
        <ul class="list-group list-group-flush">

            <li class="list-group-item p-0">
                {% if not edit_mode and match_up.user and match_up.finished %}
                    {% if match_up.points == match_up.get_max_points %}
                        <span class="badge badge-pill badge-success">{{ match_up.points }}</span>
                    {% elif match_up.points == match_up.get_min_points %}
                        <span class="badge badge-pill badge-info">{{ match_up.points }}</span>
                    {% else %}
                        <span class="badge badge-pill badge-danger">{{ 0 }}</span>
                    {% endif %}
                {% endif %}

                <div class="card__team" data-bracket-index="{{ match_up.index }}"
                     data-bracket-side="{{ match_up.side }}" data-location="home">
                    {% if game %}
                        <img src="{% static 'img/'|add:game.home_team.logo %}"
                             alt="{{ game.home_team.short|default_if_none:"TBD"}}"
                             title="{{ game.home_team.name|default_if_none:"TBD"}}"
                             style="{% if game.home_team_eliminated %} opacity: 0.30; {% endif %}"
                        />
                    {% else %}
                        <img src="{% static 'img/placeholder.svg' %}"
                             alt="TBD"
                             style="opacity: 0.30;"
                        />
                    {% endif %}
                </div>

            </li>

            <li class="list-group-item p-1 text-center">
                <div class="score__team" data-bracket-index="{{ match_up.index }}"
                     data-bracket-side="{{ match_up.side }}" data-location="home">
                    <span class="{% if game.home_team_advanced %}bold{% endif %}">
                        {{ game.home_team.short|default:"TBD" }}
                    </span>

                    {% if edit_mode %}
                        <select class="score-select form-control">
                            <option {% if game.home_score == 0 %}selected{% endif %}>0</option>
                            <option {% if game.home_score == 1 %}selected{% endif %}>1</option>
                            <option {% if game.home_score == 2 %}selected{% endif %}>2</option>
                            <option {% if game.home_score == 3 %}selected{% endif %}>3</option>
                            <option {% if game.home_score == 4 %}selected{% endif %}>4</option>
                        </select>
                    {% else %}
                        <span class="{% if game.home_team_advanced %}bold{% endif %}">
                            {{ game.home_score }}
                        </span>
                    {% endif %}
                </div>
                -
                <div class="score__team" data-bracket-index="{{ match_up.index }}"
                     data-bracket-side="{{ match_up.side }}" data-location="away">
                    <span class="{% if game.away_team_advanced %}bold{% endif %}">
                         {{ game.away_team.short|default:"TBD" }}
                    </span>

                    {% if edit_mode %}
                        <select class="score-select form-control">
                            <option {% if game.away_score == 0 %}selected{% endif %}>0</option>
                            <option {% if game.away_score == 1 %}selected{% endif %}>1</option>
                            <option {% if game.away_score == 2 %}selected{% endif %}>2</option>
                            <option {% if game.away_score == 3 %}selected{% endif %}>3</option>
                            <option {% if game.away_score == 4 %}selected{% endif %}>4</option>
                        </select>
                    {% else %}
                        <span class="{% if game.away_team_advanced %}bold{% endif %}">
                            {{ game.away_score }}
                        </span>
                    {% endif %}
                </div>
            </li>

            {% with actual_bracket|get_item:match_up as actual_game %}
                {% if actual_game %}

                    <li class="list-group-item p-1 text-center live-score">
                        <div class="score__team" data-bracket-index="{{ match_up.index }}"
                             data-bracket-side="{{ match_up.side }}" data-location="home">
                            <span class="{% if actual_game.home_team_advanced %}bold{% endif %}">
                                {{ actual_game.home_team.short|default:"TBD" }}
                            </span>

                            <span class="{% if actual_game.home_team_advanced %}bold{% endif %}">
                            {{ actual_game.home_score }}
                            </span>
                        </div>
                        -
                        <div class="score__team" data-bracket-index="{{ match_up.index }}"
                             data-bracket-side="{{ match_up.side }}" data-location="away">
                            <span class="{% if actual_game.away_team_advanced %}bold{% endif %}">
                                 {{ actual_game.away_team.short|default:"TBD" }}
                            </span>
                            <span class="{% if actual_game.away_team_advanced %}bold{% endif %}">
                                {{ actual_game.away_score }}
                            </span>
                        </div>
                    </li>
                {% endif %}
            {% endwith %}


            <li class="list-group-item p-0">
                <div class="card__team" data-bracket-index="{{ match_up.index }}"
                     data-bracket-side="{{ match_up.side }}" data-location="away">
                    {% if game %}
                        <img src="{% static 'img/'|add:game.away_team.logo %}"
                             alt="{{ game.away_team.short|default_if_none:"TBD"}}"
                             title="{{ game.away_team.name|default_if_none:"TBD"}}"

                             style="{% if game.away_team_eliminated %} opacity: 0.30; {% endif %}"
                        />
                    {% else %}
                        <img src="{% static 'img/placeholder.svg' %}"
                             alt="TBD"
                             style="opacity: 0.30;"
                        />
                    {% endif %}
                </div>
            </li>


        </ul>
    </div>
{% endwith %}

{{ end }}
